<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringbootApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="proof-of-concept-services" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="de.abschlussprojekt.Application" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>